@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  height: 100%;
}

body {
  margin: 0;
}

#app {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}


